.he {
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.price {
    text-align: center;
    border-style: groove;
    border-color: black;
    background-color: rgb(78, 123, 161);
    border-width: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('/m/media/ffcfb2ef-5c23-44f3-976a-ed05ccfb62c1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }