.he {
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.price {
    text-align: center;
    border-style: groove;
    border-color: black;
    background-color: rgb(78, 123, 161);
    border-width: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('/m/media/ffcfb2ef-5c23-44f3-976a-ed05ccfb62c1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}