.he {
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.price {
    text-align: center;
    border-color: black;
    background-color: aliceblue;
    border-width: 30px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}