.he {
    border-radius: 5px;
    text-align: center;
}

.price {
    text-align: center;
    border-color: black;
    background-color: aliceblue;
    border-width: 30px;
    border-radius: 3px;
    
}